body {
  background-color: red;
  background-image: url("https://i.ytimg.com/vi/OHdp9Qf2z-w/maxresdefault.jpg");
  border: 2px solid mediumseagreen;
  border-style: ridge;
  background-size: 2000px 2000px;
}

head {
  font-family: Arial;
  color:rgba(128, 0, 128, 0.507),
  
}

h2 {
  text-decoration: underline overline line-through;
  color: rgb(0, 255, 213);
}

img.face {
  width: 300px;
}







img.fetus {
  border-width: thick;
  border-color: magenta;
  border-style: solid;
  width: 1000px;
  height: 2100px;
}
 .box { 
  float:left;
   width:100px;
   height:100px;
 }

.row {
  height: 100px;
}

 .red {
  
   background:#f00;
 }
.orange {
  
  background:#ffa500
}
.yellow {

  background:#ffff00
}
.green {
 
  background: #008000
}
.blue { 
  
  background: #0000FF
}
.purple {
  
   background: #800080
}
.indigo { 
  
  background: #4B0082
}
.pink { 
  
  background: #FFC0CB
}
.grey {
  
   background: #808080
}

  